
.addt{
    button{
        cursor: pointer;
        width: 190px;
        height: 35px;
        background-color: blue;
        border: none;
        outline: none;
        color: white;
    }
    form{
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background-color: cadetblue;
        input{
            width: 190px;
            height: 30px;
            padding: 10px;
        }
    }
}